<div *ngIf="song">
    <h2>{{song.name | uppercase}} Details</h2>
    <div><span>id: </span>{{song.id}}</div>
    <div><span>Duration: </span>{{song.duration | minutesSeconds}}</div>
    <div>
        <label>Name:
            <input [(ngModel)]="song.name" placeholder="name"/>
        </label>
    </div>

    <div>
        <label>Description: <br>
            <textarea [(ngModel)]="song.description" placeholder="description" type="text"></textarea>
        </label>
    </div>

    <div>
        <span>File: </span>{{song.fileId | fileIdToFile}} <br>
        <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
        <button type="button" class="btn btn-success btn-s" 
        (click)="uploadFile()" 
        [disabled]="!uploader.getNotUploadedItems().length" >
            Upload new Song
        </button>
    </div>
</div>
<br>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>