<!--
<ul class='songs'>
    <li *ngFor="let song of songs">
        <a routerLink="/detail/{{song.id}}">
            <span class="badge">{{song.id}}</span> {{song.name}}  
        </a> 
        <button class="delete" title="delete song" (click)="deleteSong(song)">x</button>

    </li>
</ul>
-->

<div class="example-container mat-elevation-z8">

  <!--
  <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  -->

  <table mat-table [dataSource]="songs" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="song">
      <th mat-header-cell *matHeaderCellDef> Song </th>
      <td mat-cell *matCellDef="let song"> {{song.name}} </td>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let song"> {{song.description}} </td>
    </ng-container>
  
    <!-- Duration Column -->
    <ng-container matColumnDef="length">
      <th mat-header-cell *matHeaderCellDef> Duration </th>
      <td mat-cell *matCellDef="let song"> {{getDuration(song) | minutesSeconds}} </td>
    </ng-container>

    <!-- Edit Button Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef><button mat-fab><mat-icon>add</mat-icon></button></th>
      <td mat-cell *matCellDef="let song">
        <button mat-fab><mat-icon>build</mat-icon></button> &nbsp; 
        <button mat-fab (click)="deleteSong(song)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>